.card {
  width: 250px;
  border-radius: 12px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  text-align: center;
  background: white;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.stock.in {
  color: green;
  font-weight: bold;
}

.stock.out {
  color: red;
  font-weight: bold;
}
