body {
font-family: Arial, sans-serif;
text-align: center;
background: #f4f4f4;
}

h1 {
margin-top: 20px;
}

.container {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.card {
width: 250px;
border-radius: 12px;
padding: 15px;
margin: 15px;
box-shadow: 0 0 12px rgba(0,0,0,0.2);
background: white;
}

.card img {
width: 100%;
border-radius: 8px;
}

.price {
font-size: 18px;
font-weight: bold;
}

.in {
color: green;
font-weight: bold;
}

.out {
color: red;
font-weight: bold;
}
